<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282452792859-b0anr8m2ct0aql6oknvc8ov6242ftnqh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282452792859-b0anr8m2ct0aql6oknvc8ov6242ftnqh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>282452792859-l38d76n00da0fqd0g4mqcufcfa7dprl1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBF7TWyhfdVujZ70ndA2FRoUeJ19h4rQuk</string>
	<key>GCM_SENDER_ID</key>
	<string>282452792859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ishraak.jobxprss</string>
	<key>PROJECT_ID</key>
	<string>p7app-df2de</string>
	<key>STORAGE_BUCKET</key>
	<string>p7app-df2de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282452792859:ios:acd4e47bd92b4c3db7cabe</string>
	<key>DATABASE_URL</key>
	<string>https://p7app-df2de.firebaseio.com</string>
</dict>
</plist>